h1 {
    text-align: center;
    font-style: Sans-serif;
    font-size: 60px;
    color: #f0fc6c;
    background-color: darkgreen;
    
}
body{
    background-color: #82e3f9;
    background-image: url("../images/aurieaharvey.jpg");
    <img src="../images/aurieaharvey.jpg"/>
}
p{
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    border: 10px solid rgb(227, 233, 200);
  background-color: #128346;
  padding: 50px;
  margin: 20px; 
}
button{
    font-size: 20px;
    color: aliceblue;
    background-color: rgb(199, 55, 42);
   }